a:link {
    margin: 0;
}

div:nth-child(even) {    /* div:nth-child(2n) */
    margin: 0;
}
div:nth-child(2n + 1) {  /* div:nth-child(odd) */
    margin: 1;
}
div:nth-child(-1n +2) {  /* div:nth-child(-n+2) */
    margin: 2;
}
div:nth-child(0n+ 1) {   /* div:nth-child(1) */
    margin: 3;
}
div:nth-child(0) {       /* removed */
    margin: 4;
}
div:nth-child(2n) {      /* div:nth-child(2n) */
    margin: 5;
}
div:nth-child(-n+0) {    /* div:nth-child(-n) */
    margin: 6;
}
div:nth-child(+3n) {     /* div:nth-child(3n) */
    margin: 7;
}
div:nth-child(-n+1) {    /* div:nth-child(1) */
    margin: 8;
}
