.dims-1 {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    /* margin: 10px */
}

.dims-2 {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    /* margin: 10px 20px */
}

.dims-3 {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    /* padding: 10px 20px 30px */
}

.dims-4 {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
    /* padding: 10px 20px 30px 40px */
}

.use-last-declaration-unless-important {
    font-family: sans-serif;
    font-size: 10px;
    font-size: 13px;
    /* font: 13px sans-serif */

    border-width: 1px;
    border-style: solid !important;
    border-style: dotted
    /* border: 1px solid */
}

.unfold {
    border: 1px solid red;
    border-color: blue;
    /* border: 1px solid blue */

    background: transparent url(../img/cat.png) no-repeat scroll left center;
    background-repeat: repeat-y;
    /* background: transparent url(../img/cat.png) repeat-y scroll left center; */

    font: bold 1em/1.1em 'Roboto Condensed', sans-serif;
    line-height: 10px;
    /* font: bold 1em/10px "Roboto Condensed", sans-serif */
}

.unfold-font-1 {
    font: normal normal 1em sans-serif;
    font-variant: small-caps;
    /* font: small-caps normal 1em sans-serif */
}

.unfold-margin-1 {
    margin: 10px;
    margin-bottom: 20px;
    /* margin: 10px 10px 20px */
}
